<script>
  import A11yDialog from 'a11y-dialog';
  import { onDestroy, onMount } from 'svelte';

  let container;
  let dialog;
  let instance;

  onMount(() => {
    instance = new A11yDialog(container);
    // Focus the dialog, rather than the container, when it opens
    // Without this the dialog displays at the end of the page,
    // rather than fixed over the page
    instance.on('show', () => {
      dialog.focus();
    });
  });

  onDestroy(() => {
    if (instance) {
      instance.destroy();
    }
  });
</script>

<!-- 1. The dialog container -->
<div bind:this={container} class="dialog-container" {...$$restProps}>
  <!-- 2. The dialog overlay -->
  <div class="dialog-overlay" data-a11y-dialog-hide />
  <!-- 3. The actual dialog -->
  <div bind:this={dialog} tabindex="-1" role="document" class="dialog-content">
    <!-- 4. The close button -->
    <button
      class="dialog-close"
      type="button"
      data-a11y-dialog-hide
      aria-label="Close dialog"
    >
      &times;
    </button>
    <div class="dialog-body lch-spacing-y">
      <slot />
    </div>
  </div>
</div>

<style global lang="scss">
  // https://a11y-dialog.netlify.app/usage/styling

  /**
 * 1. Make the dialog container, and its child overlay spread across
 *    the entire window.
 */
  .dialog-container,
  .dialog-overlay {
    position: fixed; /* 1 */
    top: 0; /* 1 */
    right: 0; /* 1 */
    bottom: 0; /* 1 */
    left: 0; /* 1 */
  }

  /**
 * 1. Make sure the dialog container and all its descendants sits on
 *    top of the rest of the page.
 * 2. Make the dialog container a flex container to easily center the
 *    dialog.
 */
  .dialog-container {
    z-index: 2; /* 1 */
    display: flex; /* 2 */
  }

  /**
 * 1. Make sure the dialog container and all its descendants are not
 *    visible and not focusable when it is hidden.
 */
  .dialog-container[aria-hidden='true'] {
    display: none; /* 1 */
  }

  /**
 * 1. Make the overlay look like an overlay.
 */
  .dialog-overlay {
    background-color: rgb(43 46 56 / 90%); /* 1 */
  }

  /**
 * 1. Vertically and horizontally center the dialog in the page.
 * 2. Make sure the dialog sits on top of the overlay.
 */
  .dialog-content {
    position: relative; /* 2 */
    z-index: 2; /* 2 */
    width: calc(100% - 1.5rem);
    max-width: 50rem;
    max-height: 90%;
    padding: 1rem;
    margin: auto; /* 1 */
    overflow: auto;
    color: var(--lch-light);
    background-color: var(--lch-dark);
    border-radius: 0.5rem;
  }

  .dialog-close {
    float: right;
  }

  :root {
    --dialog-body-spacing: 1rem;
  }

  .dialog-body {
    --lch-spacing: var(--dialog-body-spacing, 1rem);
  }
</style>
