<script>
  import { colorToContrastAgainst } from '../lib/stores/index.js';
  import { wcagContrast } from 'culori';

  import ColorSwatch from './ColorSwatch.svelte';

  export let color;

  $: selectedColorRatio =
    color.contrastRatio || wcagContrast(color, $colorToContrastAgainst);

  function formatContrast(contrast) {
    if (contrast < 3) {
      return '<span aria-hidden="true">⊘</span><span class="lch-visually-hidden">Too low</span>';
    } else if (contrast < 4.5) {
      return '3';
    } else if (contrast < 7) {
      return '4.5';
    } else {
      return '7';
    }
  }
</script>

<dl class="lch-color-contrasts">
  <div class="lch-color-contrast-item">
    <dt>
      <span aria-hidden="true">W:</span>
      <span class="lch-visually-hidden">White</span>
    </dt>
    <dd>{@html formatContrast(wcagContrast(color, 'white'))}</dd>
    <dd aria-hidden="true"><ColorSwatch color={'white'} /></dd>
  </div>
  <div class="lch-color-contrast-item">
    <dt>B:</dt>
    <dd>{@html formatContrast(wcagContrast(color, 'black'))}</dd>
    <dd aria-hidden="true"><ColorSwatch color={'black'} /></dd>
  </div>
  <div class="lch-color-contrast-item">
    <dt>S:</dt>
    <dd>
      {@html formatContrast(wcagContrast(color, $colorToContrastAgainst))}
    </dd>
    <dd aria-hidden="true"><ColorSwatch color={$colorToContrastAgainst} /></dd>
  </div>
</dl>

<style lang="scss" global>
  @use 'sass:math';
  @use '../styles/abstract/mixins/text_dot';

  .lch-color-contrasts {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .lch-color-contrast-item {
    // display: grid;
    // grid-template-rows: auto auto;
    // grid-template-columns: auto auto;
    // gap: 0.25rem;

    // > * {
    //   grid-row: 1;
    //   font-size: math.div(12rem, 16);
    // }

    // > dt {
    //   z-index: 1;
    //   grid-column: 1;
    //   align-self: start;
    //   padding: 0.125rem;
    //   color: var(--lch-dark);
    //   background: var(--lch-light);
    //   border-radius: 999px;
    //   @include text_dot.text_dot();
    // }

    // > dd:first-of-type {
    //   z-index: 1;
    //   grid-row: 2;
    //   grid-column: 2;
    //   align-self: end;
    //   padding: 0.125rem;
    //   color: var(--lch-dark);
    //   background: var(--lch-light);
    //   border-radius: 999px;
    //   @include text_dot.text_dot();
    // }

    // > [aria-hidden='true'] {
    //   grid-row: 1 / -1;
    //   grid-column: 1 / -1;
    //   margin: 0.125rem;
    // }
    display: flex;
    align-items: center;
    padding: 0.125rem;
    font-size: math.div(14rem, 16);

    > * + * {
      margin-left: 0.25rem;
    }

    dd:first-of-type {
      min-width: 2.5ch;
      margin-right: auto;
      text-align: right;
    }

    > :last-child {
      width: 0.5rem;
    }

    .lch-color-swatch {
      --lch-border-width: 1px;

      min-width: 0.5rem;
      background-clip: border-box;
      border-radius: 999px;
      box-shadow: inset 0 0 0 var(--lch-border-width) var(--lch-dark);
    }
  }
</style>
