<script>
  import { toDataUrl } from '../lib/export/data_url.js';

  export let content;
  export let format;
  export let fileName;
</script>

<a
  href={toDataUrl(content, format)}
  download="{fileName}.{format}"
  {...$$restProps}
>
  <slot />
</a>
