<svelte:options accessors={true} />

<script context="module">
  export const context = Symbol();
</script>

<script>
  import { PerspectiveCamera, Scene } from 'three';

  import { onMount, createEventDispatcher, setContext } from 'svelte';
  import { createEventForwarder } from '../../../lib/svelte/events.js';

  import { pannable } from '../../actions/pannable.js';
  import { PostProcessingRenderer } from '../../../lib/three/post_processing_renderer.js';

  let canvas;

  const dispatch = createEventDispatcher();
  const forward = createEventForwarder(dispatch);

  export let dimensions = {
    width: window.innerWidth,
    height: window.innerHeight,
  };

  export let pixelRatio = window.devicePixelRatio;

  export let cameraPosition;

  ///
  /// Scene
  ///

  const scene = new Scene();

  // Use the context API to create Svelte components
  // that configure the scene
  setContext(context, {
    scene,
  });

  ///
  /// Camera
  ///

  export let camera = new PerspectiveCamera(
    45,
    dimensions.width / dimensions.height,
    10,
    500,
  );
  $: {
    camera.position.setFromCylindrical(cameraPosition);
    camera.lookAt(0, cameraPosition.y, 0);
  }
  scene.add(camera);

  $: {
    camera.aspect = dimensions.width / dimensions.height;
    camera.updateProjectionMatrix();
  }

  ///
  /// Renderer
  ///

  // We can only instanciate the renderer after the canvas
  // is in the DOM so we need to use `let`
  let renderer;
  $: {
    if (renderer) {
      renderer.setSize(dimensions.width, dimensions.height);
    }
  }
  $: {
    if (renderer) {
      renderer.setPixelRatio(pixelRatio);
    }
  }

  onMount(() => {
    renderer = new PostProcessingRenderer({
      canvas,
      scene,
      camera,
    });
    renderer.setSize(dimensions.width, dimensions.height);
    renderer.setPixelRatio(Math.min(pixelRatio, 2));
    render();
  });

  function render() {
    // Render
    renderer.render();

    window.requestAnimationFrame(render);
  }
</script>

<canvas
  use:pannable
  on:keydown={forward}
  on:panmove={forward}
  tabindex="0"
  bind:this={canvas}
>
  <!-- Necessary for whatever 3D element added to the viewer to render properly -->
  <!-- Also allows regular HTML content to be added to the canvast for screen-readers -->
  <!-- https://www.tpgi.com/html5-canvas-sub-dom/ -->
  <slot />
</canvas>

<style>
  canvas:focus:focus-visible {
    outline: solid 0.25rem;
    outline-offset: -0.25rem;
  }
</style>
