@mixin text-dot() {
  box-sizing: content-box;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: calc(var(--text-dot-line-height) * 1em);

  /* 
    Ensure that the width of the content is larger
    than its height so the aspect ratio is computed
    appropriately 
  */
  line-height: var(--text-dot-line-height);
  text-align: center;

  --text-dot-line-height: 1;

  /* Use the padding hack to get a square aspect ratio */

  /* Variation on https://codepen.io/raphaelgoetter/pen/dzmjWr 
    using :after. This lets the text be aligned with the baseline
    of any surounding text */
  &::after {
    display: block;
    padding-top: 100%;
    content: '';
  }
}
