@font-face {
  font-family: Sono;
  // https://github.com/sursly/sono
  src: url('/assets/fonts/Sono-Variable.woff2') format('woff2');
}

:root {
  --lch-dark: #1e0123;
  --lch-muted: #e6affd;
  --lch-light: #f5feff;
  --lch-border-width: 2.5px;
  --lch-font-weight: 600;
  --lch-spacing: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Sono, monospace;
  font-weight: var(--lch-font-weight);
  color: var(--lch-light);
  background-color: var(--lch-dark);
}

fieldset {
  padding: 0;
  border: 0;
}

legend {
  color: inherit;
}

button,
select,
input {
  font: inherit;
}

select,
input {
  padding: 0.5em 0.75em;
  color: var(--lch-light);
  background: var(--lch-dark);
  border: solid var(--lch-border-width);
  border-radius: 999px;
}

button {
  // Unstyle buttons
  // https://fvsch.com/styling-buttons
  padding: 0;
  font: inherit;
  color: inherit;

  /*
    Show a hand cursor on hover instead of the default arrow cursor
    (Some argue that we should keep the default arrow cursor for buttons, to be consistent with how desktop operating systems treat buttons.)
  */
  cursor: pointer;
  background-color: transparent;
  border: none;

  &:not(.no-default) {
    padding: 0.5em 0.75em;
    color: var(--lch-light);
    cursor: pointer;
    background: var(--lch-dark);
    border: solid var(--lch-border-width);
    border-radius: 999px;
    appearance: none;

    &:hover {
      color: var(--lch-dark);
      background: var(--lch-light);
      border-color: var(--lch-light);
    }
  }
}

a,
a:visited {
  color: var(--lch-muted);
}

a:hover {
  color: var(--lch-light);
  text-decoration-thickness: 2px;
  transform: scale(1.05);
}

a:active {
  transform: scale(0.95);
}

label {
  cursor: pointer;
}

:focus {
  position: relative;
  z-index: 1;
  outline: solid var(--lch-border-width);
  outline-offset: var(--lch-border-width);
  box-shadow: 0 0 0 var(--lch-border-width) var(--lch-dark);
}

:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

@import 'tippy.js/dist/tippy.css';

.lch-spacing-y > * {
  margin-bottom: 0;
}

.lch-spacing-y > * + * {
  margin-top: var(--lch-spacing);
}

.lch-spacing-y--smaller > * + * {
  margin-top: calc(0.5 * var(--lch-spacing));
}

.lch-spacing-x > * {
  margin-right: 0;
}

.lch-spacing-x > * + * {
  margin-left: var(--lch-spacing);
}

header:not(.no-default) {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > * {
    margin-right: 0;
  }

  > h2 {
    margin-right: auto;
  }

  > * + h2 {
    margin-left: calc(0.5 * var(--lch-spacing));
  }

  > * + * {
    margin-left: var(--lch-spacing);
  }
}

.lch-width-full {
  width: 100%;
}

/* https://github.com/twbs/bootstrap/blob/f948974ca3b53b827795e697f568c2f29e47e078/scss/mixins/_lch-visually-hidden.scss#L8 */
// stylelint-disable declaration-no-important
.lch-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
// stylelint-enable declaration-no-important

// Bumps specificity of utilities without resorting to '!important'
// using the same system as PostCSS cascade layers
// https://www.npmjs.com/package/@csstools/postcss-cascade-layers
// stylelint-disable-next-line selector-max-id, selector-id-pattern
:root:not(#\#):not(#\#):not(#\#) {
  @import 'styles/utilities';
}
