<script>
  import colorSystems from '../../data/colorSystems.js';
  import { ColorSystemGeometry } from '../../color_system_geometry.js';

  const OPTION_LABELS = {
    bootstrap: 'Bootstrap',
    tailwindCSS: 'Tailwind CSS',
    openColor: 'open-color',
    componentsLCH: 'Components.ai (LCH)',
    componentsRGB: 'Components.ai (RGB)',
    reasonableColors: 'Reasonable Colors',
  };

  export let geometry;
  export let colorSystemName = 'tailwindCSS';

  $: geometry = new ColorSystemGeometry(colorSystems[colorSystemName]);
</script>

<label for="color-system"><h2>Color system</h2></label>
<select class="lch-width-full" id="color-system" bind:value={colorSystemName}>
  {#each Object.keys(colorSystems) as availableColorSystemName}
    <option value={availableColorSystemName}>
      {OPTION_LABELS[availableColorSystemName] || availableColorSystemName}
    </option>
  {/each}
</select>
